---
apiVersion:     v1
kind:           ConfigMap
metadata:
  name:         ceph-csi-config
  namespace:    rbd-csi
data:
  config.json: |-
    [
      {
        "clusterID": "{{ ceph_mon.fsid }}",
        "monitors": [
{% for mon_addr in ceph_mon.mons | map(attribute='public_addrs.addrvec') | flatten | selectattr('type', 'equalto', 'v1') | list %}
          "{{ mon_addr.addr }}"{% if loop.index != loop.length %},{% endif %}

{% endfor %}
        ]
      }
    ]
---
apiVersion:     v1
kind:           ConfigMap
metadata:
  name:         ceph-csi-encryption-kms-config
  namespace:    rbd-csi
data:
  config.json: |-
    {
    }
---
apiVersion:     v1
kind:           Secret
metadata:
  name:         csi-rbd-secret
  namespace:    rbd-csi
stringData:
  userID:       {{ ceph.rbd_pool.user }}
  userKey:      {{ ceph_k8s_key }}
---
apiVersion:     storage.k8s.io/v1
kind:           StorageClass
metadata:
  name:         csi-rbd-sc
  namespace:    rbd-csi
provisioner:    rbd.csi.ceph.com
parameters:
  clusterID:    {{ ceph_mon.fsid }}
  pool:         {{ ceph.rbd_pool.name }}
  csi.storage.k8s.io/provisioner-secret-name:       csi-rbd-secret
  csi.storage.k8s.io/provisioner-secret-namespace:  rbd-csi
  csi.storage.k8s.io/node-stage-secret-name:        csi-rbd-secret
  csi.storage.k8s.io/node-stage-secret-namespace:   rbd-csi
reclaimPolicy:  Delete
mountOptions:
- discard
